*.log
*.aux
*.out
*.nav
*.snm
*.toc
*.vrb
*.pyg
*.bbl
*.blg
*.fls
*.fdb_latexmk
en/_minted*
*.synctex.gz
.*.swp
en/part1.pdf
en/part2.pdf
en/part3.pdf
en/bib-example.pdf
en/media-graphics.pdf
en/structure-crossref.pdf
en/structure-sections.pdf
en/structure-title.pdf
en/beamer-minimal.pdf
en/beamer-toc.pdf
